<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Authentification</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="../static/css/myStyle.css"
	th:href="@{css/myStyle.css}" />
</head>
<body>
   <div class="col-md-4 col-md-offset-4 spacer40">
		<div class="panel panel-primary">
			<div class="panel-heading">Authentification</div>
			<div class="panel-body">
			    <div th:if="${param.error}" class="alert alert-danger">
			     Invalid username or password
			    </div>
			    <div th:if="${param.logout}" class="alert alert-success">
			     You have been LogOut
			    </div>
				<form th:action="@{/login}" method="post">
					<div>
						<div>
							<label>Username: </label> 
							<input type="text" name="username" />
						</div>
						<div>
							<label>Password : </label> 
							<input type="password" name="password" />
						</div>
						<button class="btn btn-primary" type="submit">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>